In [75]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames

# Show matplotlib plots inline (nicely formatted in the notebook)
%matplotlib inline

# Load the wholesale customers dataset
try:
    data = pd.read_csv("customers.csv")
    data.drop(['Region', 'Channel'], axis = 1, inplace = True)
    print("Wholesale customers dataset has {} samples with {} features each.".format(*data.shape))
except:
    print("Dataset could not be loaded. Is the dataset missing?")

Dataset could not be loaded. Is the dataset missing?

In [76]:
# Display a description of the dataset
stats = data.describe()
stats

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [77]:
# Using data.loc to filter a pandas DataFrame
data.loc[[100, 200, 300],:]

c:\users\andre\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

     CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
100       101.0  Female  23.0                62.0                    41.0
200         NaN     NaN   NaN                 NaN                     NaN
300         NaN     NaN   NaN                 NaN                     NaN

In [78]:
# Retrieve column names
# Alternative code:
# data.keys()
data.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [79]:
# Fresh filter
fresh_q1 = 3127.750000
display(data.loc[data.Fresh < fresh_q1, :].head())

AttributeError: 'DataFrame' object has no attribute 'Fresh'

In [ ]:
# Existing features
data.columns

In [ ]:
data["Fresh"].plot.hist()

In [ ]:
data["Milk"].plot.hist()

In [ ]:
import matplotlib.pyplot as plt
x = data.iloc[:,:].values
plt.rcParams['figure.figsize'] = (16,9)
plt.style.use('ggplot')
plt.scatter(x[:,2],x[:,3],c='black',s=7)

In [ ]:
from scipy import stats
x = x[(np.abs(stats.zscore(x)) < 3).all(axis=1)]
display(x.shape)
plt.rcParams['figure.figsize'] = (16,9)
plt.style.use('ggplot')
plt.scatter(x[:,2],x[:,3],c='black',s=7)

In [ ]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=3).fit(x)
centroids = kmeans.cluster_centers_
print(centroids)

plt.scatter(x[:,2],x[:,3], c= kmeans.labels_.astype(float), s=50, alpha=0.5)
plt.scatter(centroids[:, 0], centroids[:, 1], c='red', s=50)
plt.show()

In [ ]:
plt.scatter(x[:,2],x[:,4], c= kmeans.labels_.astype(float), s=50, alpha=0.5)
plt.scatter(centroids[:, 0], centroids[:, 1], c='red', s=50)
plt.show()

In [ ]:
plt.scatter(x[:,2],x[:,5], c= kmeans.labels_.astype(float), s=50, alpha=0.5)
plt.scatter(centroids[:, 0], centroids[:, 1], c='red', s=50)
plt.show()

In [ ]:
from sklearn.decomposition import PCA
### Run PCA on the data and reduce the dimensions in pca_num_components dimensions
reduced_data = PCA(n_components=2).fit_transform(x)
results = pd.DataFrame(reduced_data,columns=['pca1','pca2'])
display(results)
plt.scatter(x="pca1", y="pca2", c= kmeans.labels_.astype(float), s=50, alpha=0.5, data=results)
plt.title('K-means Clustering with 2 dimensions')
plt.show()